ul {
list-style-type: none;
}
ul.roomList {
display: block;
width: 42em;
}
ul.roomList > li {
display: inline-block;
min-width: 20em;
}
span.roomName {
display: table-cell;
}
.classList {
display: table-cell;
}
